<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="tremend_test1" frontName="magemastery">
            <module name="Tremend_Test1" />
        </route>
        <route id="blogmanager" frontName="blog">
            <module name="Tremend_Test1" />
        </route>
    </router>
</config>
