<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tremend_Test1::blogmanager" translate="title" title="Blog Management" module="Tremend_Test1" sortOrder="10" resource="Tremend_Test1::blogmanager"/>

        <add id="Tremend_Test1::manage" translate="title" title="Manage" module="Tremend_Test1" sortOrder="10" resource="Tremend_Test1::manage" parent="Tremend_Test1::blogmanager" action="blog/manage/index"/>
    </menu>
</config>
