<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="custom_tab" translate="label" sortOrder="10">
            <label>Test1 asd</label>
        </tab>
        <section id="helloworld" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Your Tab Label</label>
            <tab>custom_tab</tab>
            <resource>Tremend_Test1::yourmodule_configuration</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Display Text</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
                <field id="text_area" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Label textarea</label>
                    <comment>test comment</comment>
                </field>
                <field id="select" translate="label" type="select" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Label select</label>
                    <comment>select custom source</comment>
                    <source_model>Tremend\Test1\Model\Config\Source\Custom</source_model>
                </field>
                <field id="button" translate="label" type="button" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Button</label>
                    <frontend_model>Tremend\Test1\Block\Adminhtml\System\Config\Button</frontend_model>
                    <!--<button_label>Button label</button_label>
                    <button_url>https://google.com/</button_url>-->
                </field>
                <field id="obscure" translate="label" type="obscure" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>obscure</label>
                    <comment>obscure</comment>
                </field>
                <field id="time" translate="label" type="time" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>time</label>
                    <comment>time</comment>
                </field>
                <field id="file" translate="label" type="file" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>File</label>
                    <comment>file upload</comment>
                    <backend_model>Tremend\Test1\Model\Config\Backend\CustomFileType</backend_model>
                    <upload_dir config="system" scope_info="1">yourfolder</upload_dir>
                </field>
                <field id="image" translate="label" type="image" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Image</label>
                    <backend_model>Tremend\Test1\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">yourfolder</base_url>
                    <comment><![CDATA[Allowed file types: jpg, jpeg, gif, png, svg]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
